/* IMPOSTAZIONI GENERALI */
body{
    font-family: "Open Sans", sans-serif;
}

.todo{
    text-align: center;
    min-width: 450px;
    margin: 0 auto;
}

/* HEADER */
header{
    background-color: black;
    padding: 15px;
}
  
header img{
    width: 30%;
    margin: 20px auto;
    display: block;
}

/* MAIN */
.intro{
    background-image: url(../images/banner.jpg);
    margin-bottom: 2 rem;
    padding: 2rem;
}
  
.titolo{
    color:#42a6ca;
    font-size: 2rem;
    font-family: "Montserrat";
    margin-bottom: 2rem;
}

.paragrafo{
    line-height: 2.5rem;
    font-size: 1.4rem;
}

.paragrafetto{
    padding: 0 1rem;
}

.intro .partiamo{
    background-color: #ee5035;
    color: white;
    font-family: "Montserrat";
    margin: 2rem 7rem;
    padding: 1rem 1rem;
}

.paragrafo .titoletto1{
    font-family: Montserrat;
    color:#42a6ca;
    margin-top:4rem;
    margin-bottom: 1.2rem;
}

.paragrafo .titoletto{
    font-family: Montserrat;
    color:#42a6ca;
    margin: 1.2rem 0;
}

.computer img{
    border-radius: 100%;
    margin: 2rem 0;
}

.arancione{
    background-color: #ea3732;
    padding: 1.5rem;
    margin: 4rem 0;
}

.titolo2{
    color: white;
    font-size: 2rem;
    font-family: "Montserrat";
    margin: 2rem;
}

.corsivo{
    color: white;
    font-style: italic;
    line-height: 1.5rem;
}

.firma{
    color: white;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.info{
    color: white;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom:1rem;
}

/*ASIDE*/
.articolo{
    border: solid 0.5px lightgrey;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.articolo img{
    width: 100%;
    box-sizing: border-box;
}

.articolo > .titoletto{
    font-family: "Montserrat";
    font-size: 1rem;
    margin: 1.2rem;
}

.articolo > .paragrafetto{
    margin: 0 5rem;
    margin-bottom: 2rem;
    line-height: 1.8rem;
}

.titoletto > a{
    text-decoration: none;
    color: #42a6ca;
}

/*FOOTER*/
footer{
    margin-top: 5rem;
    background-color: #42a6ca;
    padding: 1rem;
    padding-bottom: 3rem;
    color: white
}

ul{
    list-style-type: none;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.copyright{
    border-top: solid 0.5px white;
    padding-top: 2rem;
    margin: 0 7rem;
}

.copyright > a{
    text-decoration: none;
    text-decoration: underline;
    color: white;
}